$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$whiteText: #fff;
$greyText: #b3b3b3;

* {
    box-sizing: border-box;
}

@mixin colorText {
    color: $colorText;
}

body {
    font-family: Helvetica;
    background-color: $greyLight;

    & > h1,
    h2,
    h3,
    h4,
    p,
    span,
    ul,
    li,
    a {
        color: $whiteText;
    }
}

.navbar {
    height: 100%;
    width: 228px;
    background-color: $greyDark;

    .logo {
        padding: 1.5rem 0.8rem;

        img {
            max-width: 130px;
            margin: 0 5px;
            background-color: white;
        }
    }

    ul {
        margin: 0 10px;
        padding: 0;

        li {
            display: flex;
            list-style-type: none;
            border-radius: 5px;
            padding: 0.7rem;
            cursor: pointer;

            span {
                color: $greyText;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $whiteText;
                }
            }

            & > * {
                padding-right: 0.8rem;
            }

            svg {
                vertical-align: middle;
                margin-top: -5px;
            }
        }
    }
}

.container-app {
    height: 100vh;
    min-height: 100vh;
}

.container {
    height: calc(100vh - 90px);
    background: $greyLight;
    display: flex;
    .upperNav {
        display: flex;
        align-items: center;
        background: $greyDark;
        height: 56px;
        width: 100%;
        color: $whiteText;
    }
}

.music-control {
    background-color: $greyLighter;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whiteText;
}
